NodeRed/flows.json
[{"id":"5c02f298f820732e","type":"tab","label":"C2EU","disabled":false,"info":"","env":[]},{"id":"4105e7f63bafa36c","type":"mqtt in","z":"5c02f298f820732e","name":"from C2EU","topic":"test/up","qos":"2","datatype":"auto-detect","broker":"b27eee24f00dec0f","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":480,"wires":[["c83f80a4e58f07cf","00a67ffee62e8346","817de4822807df83"]]},{"id":"c83f80a4e58f07cf","type":"function","z":"5c02f298f820732e","name":"create QRcode payload","func":"var outputstring;\nvar outputMsgs = [];\n//split header and message\nvar C2EUMessage = msg.payload.split(\"\\n\");\nvar C2EUHeader = C2EUMessage[0].split(\" \");\n\n// auf QRCode antworten\nif (C2EUHeader[0] == \"RequestChargeQRCode\")\n{\n  var jsonobj = JSON.parse(C2EUMessage[1]);\n  \n  outputstring = \"SendChargeQRCode v1.0 \" + Date.now() + \"\\n\";\n  outputstring += \"{\\\"sid\\\":\" + jsonobj.sid + \", \\\"port\\\":1,\\\"expireInterval\\\":3600,\\\"qrCode\\\":\\\"http://stan.selfhost.eu:88/wallbox.php\\\"}\";\n\n  outputMsgs.push({ payload: outputstring });\n}\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":480,"wires":[["3bca123bf6358646"]]},{"id":"3bca123bf6358646","type":"mqtt out","z":"5c02f298f820732e","name":"to C2EU","topic":"test/down","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b27eee24f00dec0f","x":1000,"y":680,"wires":[]},{"id":"dbf8992e2cc59219","type":"server-state-changed","z":"5c02f298f820732e","name":"","server":"60543844.acb708","version":4,"outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.c2eu_starten","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":280,"y":840,"wires":[["1db0975f535e7eee"]]},{"id":"1db0975f535e7eee","type":"function","z":"5c02f298f820732e","name":"create start charging payload","func":"var outputstring;\nvar outputMsgs = [];\n\noutputstring = \"RequestStartCharge v1.0 \" + Date.now() + \"\\n\";\noutputstring += \"{\\\"sid\\\":123456789,\\\"port\\\":1}\";\n\noutputMsgs.push({ payload: outputstring });\n\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":840,"wires":[["3bca123bf6358646"]]},{"id":"5d80927aa30a4e30","type":"server-state-changed","z":"5c02f298f820732e","name":"","server":"60543844.acb708","version":4,"outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.c2eu_stoppen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":280,"y":960,"wires":[["7d22a38757e88bf4"]]},{"id":"7d22a38757e88bf4","type":"function","z":"5c02f298f820732e","name":"create stop charging payload","func":"var outputstring;\nvar outputMsgs = [];\n\noutputstring = \"RequestEndCharge v1.0 \" + Date.now() + \"\\n\";\noutputstring += \"{\\\"sid\\\":123456789,\\\"billId\\\":1,\\\"port\\\":1}\";\n\noutputMsgs.push({ payload: outputstring });\n\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":960,"wires":[["3bca123bf6358646"]]},{"id":"0ca8c3cda239c5a7","type":"server-state-changed","z":"5c02f298f820732e","name":"","server":"60543844.acb708","version":4,"outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.c2eu_max_current","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":300,"y":1080,"wires":[["08caaca5fc387650"]]},{"id":"08caaca5fc387650","type":"function","z":"5c02f298f820732e","name":"create max current payload","func":"var current = msg.payload;\n\nvar outputstring;\nvar outputMsgs = [];\n\noutputstring = \"ApplySetting v1.0 \" + Date.now() + \"\\n\";\noutputstring += \"{ \\\"ports\\\": { \\\"1\\\": { \\\"powerSupply\\\": \" + current + \"} } }\";\n\noutputMsgs.push({ payload: outputstring });\n\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1080,"wires":[["3bca123bf6358646"]]},{"id":"c67f19c38de724e3","type":"inject","z":"5c02f298f820732e","name":"aller 1min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":660,"wires":[["2e85dc468291daea","faad225874ec85a2"]]},{"id":"2e85dc468291daea","type":"function","z":"5c02f298f820732e","name":"create query state payload","func":"var current = msg.payload;\n\nvar outputstring;\nvar outputMsgs = [];\n\noutputstring = \"QueryState v1.0 \" + Date.now() + \"\\n\";\noutputstring += \"{}\";\n\noutputMsgs.push({ payload: outputstring });\n\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":600,"wires":[["3bca123bf6358646"]]},{"id":"00a67ffee62e8346","type":"function","z":"5c02f298f820732e","name":"extract C2EU status","func":"var outputstring;\nvar outputMsgs = [];\n//split header and message\nvar C2EUMessage = msg.payload.split(\"\\n\");\nvar C2EUHeader = C2EUMessage[0].split(\" \");\n\nif (C2EUHeader[0] == \"ReportState\")\n{\n  var jsonobj = JSON.parse(JSON.parse(C2EUMessage[1]).data);\n  outputMsgs.push({ payload: jsonobj});\n}\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["fc7d50e1d6b08445","5f77303666d20b70","ce61320d373006f2","9e2b69c97ce97504","36428bae3caf009c","43a473f81c88e892"]]},{"id":"43a473f81c88e892","type":"debug","z":"5c02f298f820732e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":260,"wires":[]},{"id":"fc7d50e1d6b08445","type":"ha-sensor","z":"5c02f298f820732e","name":"C2EU Voltage","entityConfig":"f3f1e32470f6f0e6","version":0,"state":"payload.runtime.voltageA","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1020,"y":320,"wires":[[]]},{"id":"5f77303666d20b70","type":"ha-sensor","z":"5c02f298f820732e","name":"C2EU Power","entityConfig":"8f10428664aaed81","version":0,"state":"payload.runtime.power","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":380,"wires":[[]]},{"id":"ce61320d373006f2","type":"ha-sensor","z":"5c02f298f820732e","name":"C2EU Current","entityConfig":"f289ef769992697f","version":0,"state":"payload.runtime.currentA","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1020,"y":440,"wires":[[]]},{"id":"9e2b69c97ce97504","type":"ha-sensor","z":"5c02f298f820732e","name":"C2EU Energy","entityConfig":"7a17f8aa72354c02","version":0,"state":"payload.runtime.energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1020,"y":500,"wires":[[]]},{"id":"36428bae3caf009c","type":"ha-sensor","z":"5c02f298f820732e","name":"C2EU Current used","entityConfig":"d774a6b9d3320f93","version":0,"state":"payload.runtime.currentUsed","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1030,"y":560,"wires":[[]]},{"id":"e5edc8e037f0e161","type":"server-state-changed","z":"5c02f298f820732e","name":"","server":"60543844.acb708","version":4,"outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.c2eu_set_max_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":320,"y":1200,"wires":[["325808993549a7bd"]]},{"id":"325808993549a7bd","type":"function","z":"5c02f298f820732e","name":"create max percent used payload","func":"var percent = msg.payload;\n\nvar outputstring;\nvar outputMsgs = [];\n\noutputstring = \"ApplySetting v1.0 \" + Date.now() + \"\\n\";\noutputstring += \"{ \\\"ports\\\": { \\\"1\\\": { \\\"powerSupplyPercent\\\": \" + percent + \"} } }\";\n\noutputMsgs.push({ payload: outputstring });\n\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1200,"wires":[["3bca123bf6358646"]]},{"id":"faad225874ec85a2","type":"function","z":"5c02f298f820732e","name":"create query state payload","func":"var current = msg.payload;\n\nvar outputstring;\nvar outputMsgs = [];\n\noutputstring = \"QuerySystemInfo v1.0 \" + Date.now() + \"\\n\";\noutputstring += \"{}\";\n\noutputMsgs.push({ payload: outputstring });\n\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":720,"wires":[["3bca123bf6358646"]]},{"id":"817de4822807df83","type":"function","z":"5c02f298f820732e","name":"extract C2EU system info","func":"var outputstring;\nvar outputMsgs = [];\n\n//split header and message\nvar C2EUMessage = msg.payload.split(\"\\n\");\nvar C2EUHeader = C2EUMessage[0].split(\" \");\n\nif (C2EUHeader[0] == \"ReportSystemInfo\")\n{\n  var jsonobj = JSON.parse(C2EUMessage[1]);\n  outputMsgs.push({ payload: jsonobj});\n}\n\nreturn [outputMsgs];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":80,"wires":[[]]},{"id":"b27eee24f00dec0f","type":"mqtt-broker","name":"daheme","broker":"192.168.0.5","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"60543844.acb708","type":"server","name":"Home Assistant","addon":true},{"id":"f3f1e32470f6f0e6","type":"ha-entity-config","server":"60543844.acb708","deviceConfig":"","name":"C2EU Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"C2EU Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"voltage"},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"8f10428664aaed81","type":"ha-entity-config","server":"60543844.acb708","deviceConfig":"","name":"C2EU Power","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"C2EU Power"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"f289ef769992697f","type":"ha-entity-config","server":"60543844.acb708","deviceConfig":"","name":"C2EU Current","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"C2EU Current"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"current"},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"7a17f8aa72354c02","type":"ha-entity-config","server":"60543844.acb708","deviceConfig":"","name":"C2EU Energy","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"C2EU Energy"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total"}],"resend":false,"debugEnabled":false},{"id":"d774a6b9d3320f93","type":"ha-entity-config","server":"60543844.acb708","deviceConfig":"","name":"C2EU Current used","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"C2EU Current used"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"current"},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false}]